html {
	font-family: 'Tinos', serif;
  	box-sizing: border-box;
}
body {
	font-size: 1.5rem;
	width: 100%;
	height: 10000px;
	background-image:
    linear-gradient(
      transparent,
      transparent 200px,
      #C5F3EB 1000px,
      #7CF3E0 2000px,
      #93B5AF 3000px,
      #93B5AF 6080px,
      #C5F3EB 6180px,
      #C5F3EB 6300px,
      #93B5AF 6400px,
      #93B5AF 9800px,
      #3B736A 9990px
    );
}
*, *:before, *:after {
  	box-sizing: inherit;
}
.header {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	height: 5rem;
}
h1{
	margin: 0px 0px 0px 15px;
	font-size: 3rem;
}
h3{
	margin: 0px 15px 0px 0px;
	font-size: 2rem;
}
.left-container{
	align-self: flex-start;
}
.right-container{
	align-self: flex-end;
}
.center-border {
	border: 1px solid #555;
	box-shadow: 1px 1px 5px 1px #333;
	height: 100%;
	min-height: 100%;
}
.spacer{
	height: 3000px;
}